body {
  background: url(/images/background1.jpg) no-repeat center;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
}

.info__img:hover {
  fill: #ca1a1a66;
}

.change-theme-btn,
.green__box {
  background: #ca1a1a66;
}

.btn__submit {
  background-color: #ca1a1a66;
}

.form__container {
  background-color: rgb(188, 218, 218);
}
